# =====================
# Environment variables
# =====================
.env
.env.*
!.env.example

# =====================
# Node / Package manager
# =====================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
dist/

# =====================
# Build outputs
# =====================
dist/
build/
.out/
.next/
coverage/

# =====================
# OS / Editor junk
# =====================
.DS_Store
Thumbs.db
.vscode/
.idea/

# =====================
# Misc
# =====================
*.log
